.meanings{
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll;
    scroll-width: thin ;
    height: 55vh; */
    border: 2px solid rgb(105,105,105);
    padding-top: 3vh;
    margin: 0 5vw ;
    border-radius: 5px;
}

.subTitle{
    font-size: 4vw;
    font-family: "Montserrat",sans-serif;

}